{{/*###
Handler=/contact
TitleBar=Contact us
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
	<div class="ui grid">
		<div class="six wide column">
			<h2>Contact us on Social Media!</h2><br>
			<button class="circular ui icon button">
				<a href="https://twitter.com/OEnjuu"><i class="fab fa-twitter"></i></a>
			</button>
			<button class="circular ui icon button">
				<a href="https://wa.me/17069560921//"><i class="fab fa-whatsapp"></i></a>
			</button>
			<button class="circular ui icon button">
				<a href="mailto:mail@enjuu.click"><i class="fas fa-at"></i></a>
			</button>
			<button class="circular ui icon button">
				<a href="https://www.instagram.com/enjuu.click"><i class="fab fa-instagram"></i></a>
			</button>
		</div>

		<div class="eight wide column">
			<h2>Contact us with Discord</h2><br>
			<a href="https://discord.gg/eQAfN5P"><button class="fluid ui button">Need help from our Discord Support?</button></a>
			<a href="https://discord.gg/PV9WKqm"><button class="fluid ui button">You want to request a feature?</button></a>
			<a href="https://discord.gg/g2hGut8"><button class="fluid ui button">You want to request a map that should be ranked?</button></a>
			<a href="https://discord.gg/te84HqA"><button class="fluid ui button">You want to advertise your clan?</button></a>
		</div>
	</div>
	</div>
	</div>
</div>
{{ end }}